BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Left
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: true 
  AfterStruct: true 
  AfterUnion: true
  AfterEnum: false
  AfterNamespace: false
  BeforeCatch: false
  BeforeElse: false
  AfterControlStatement: false